<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.take2.librarymanager.mapper.BorrowMapper">

    <select id="selectAllBorrows" resultType="org.take2.librarymanager.service.impl.BorrowServiceImpl$BorrowVO" parameterType="map">
        SELECT
            b.id,
            b.borrow_date AS borrowDate,
            b.user_id AS userId,
            b.collection_id AS collectionId,
            b.return_deadline AS returnDeadline,
            b.return_date AS returnDate,
            b.renewed_times AS renewedTimes,
            b.fine_paid AS finePaid,
            c.is_borrowable AS collectionIsBorrowable
        FROM borrow b
                 INNER JOIN collection c ON b.collection_id = c.id
        ORDER BY b.id DESC
    </select>

    <select id="selectIncompleteBorrows" resultType="org.take2.librarymanager.service.impl.BorrowServiceImpl$BorrowVO" parameterType="map">
        SELECT
            b.id,
            b.borrow_date AS borrowDate,
            b.user_id AS userId,
            b.collection_id AS collectionId,
            b.return_deadline AS returnDeadline,
            b.return_date AS returnDate,
            b.renewed_times AS renewedTimes,
            b.fine_paid AS finePaid,
            c.is_borrowable AS collectionIsBorrowable
        FROM borrow b
                 INNER JOIN collection c ON b.collection_id = c.id
        WHERE c.is_borrowable = false
        ORDER BY b.id DESC
    </select>

    <select id="selectBorrowsByUser" resultType="org.take2.librarymanager.service.impl.BorrowServiceImpl$BorrowVO" parameterType="map">
        SELECT
            b.id,
            b.borrow_date AS borrowDate,
            b.user_id AS userId,
            b.collection_id AS collectionId,
            b.return_deadline AS returnDeadline,
            b.return_date AS returnDate,
            b.renewed_times AS renewedTimes,
            b.fine_paid AS finePaid,
            c.is_borrowable AS collectionIsBorrowable
        FROM borrow b
                 INNER JOIN collection c ON b.collection_id = c.id
        WHERE b.user_id = #{userId}
        ORDER BY b.id DESC
    </select>

    <select id="selectMyIncompleteBorrows"
            resultType="org.take2.librarymanager.service.impl.BorrowServiceImpl$BorrowVO"
            parameterType="map">
        SELECT
            b.id,
            b.borrow_date AS borrowDate,
            b.user_id AS userId,
            b.collection_id AS collectionId,
            b.return_deadline AS returnDeadline,
            b.return_date AS returnDate,
            b.renewed_times AS renewedTimes,
            b.fine_paid AS finePaid,
            c.is_borrowable AS collectionIsBorrowable
        FROM borrow b
                 INNER JOIN collection c ON b.collection_id = c.id
        WHERE b.user_id = #{userId}
          AND b.return_date IS NULL
        ORDER BY b.id DESC
    </select>

    <select id="selectOverdueAndUnpaidBorrowsByUser" resultType="org.take2.librarymanager.service.impl.BorrowServiceImpl$BorrowVO">
        SELECT
        b.id,
        b.borrow_date AS borrowDate,
        b.user_id AS userId,
        b.collection_id AS collectionId,
        b.return_deadline AS returnDeadline,
        b.return_date AS returnDate,
        b.renewed_times AS renewedTimes,
        b.fine_paid AS finePaid,
        c.is_borrowable AS collectionIsBorrowable
        FROM borrow b
        INNER JOIN collection c ON b.collection_id = c.id
        WHERE b.user_id = #{userId}
        AND b.return_date IS NULL
        AND b.return_deadline IS NOT NULL
        AND b.return_deadline &lt; NOW()
          AND (b.fine_paid IS NULL OR b.fine_paid = 0)
        ORDER BY b.id DESC
    </select>

</mapper>
