<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.take2.librarymanager.mapper.CollectionMapper">

    <select id="searchCollections"
            parameterType="map"
            resultType="org.take2.librarymanager.service.impl.CollectionServiceImpl$CollectionVO">
        SELECT
        c.id,
        c.barcode,
        c.is_borrowable AS isBorrowable,
        c.storage_date AS storageDate,
        cat.id AS catalogId,
        cat.name,
        cat.isbn,
        cat.publisher,
        CONCAT(cat.category, '-', clc.name) AS category,
        cat.publish_date AS publishDate,
        cat.author,
        cat.value
        FROM collection c
        INNER JOIN catalog cat ON c.catalog_id = cat.id
        LEFT JOIN clc ON cat.category = clc.code
        WHERE 1=1
        <if test="keyword != null and keyword != ''">
            AND (
            cat.name LIKE CONCAT('%', #{keyword}, '%')
            OR cat.author LIKE CONCAT('%', #{keyword}, '%')
            OR cat.publisher LIKE CONCAT('%', #{keyword}, '%')
            )
        </if>
        <if test="bigCategory != null and bigCategory != ''">
            AND cat.category LIKE CONCAT(#{bigCategory}, '%')
        </if>
        <if test="subCategory != null and subCategory != ''">
            AND clc.name = #{subCategory}
        </if>
        ORDER BY c.id DESC
    </select>

    <select id="selectByBarcode"
            parameterType="string"
            resultType="org.take2.librarymanager.service.impl.CollectionServiceImpl$CollectionVO">
        SELECT
            c.id,
            c.barcode,
            c.is_borrowable AS isBorrowable,
            c.storage_date AS storageDate,
            cat.id AS catalogId,
            cat.name,
            cat.isbn,
            cat.publisher,
            CONCAT(cat.category, '-', clc.name) AS category,
            cat.publish_date AS publishDate,
            cat.author,
            cat.value
        FROM collection c
                 INNER JOIN catalog cat ON c.catalog_id = cat.id
                 LEFT JOIN clc ON cat.category = clc.code
        WHERE c.barcode = #{barcode}
    </select>

    <select id="getById"
            parameterType="long"
            resultType="org.take2.librarymanager.service.impl.CollectionServiceImpl$CollectionVO">
        SELECT
            c.id,
            c.barcode,
            c.is_borrowable AS isBorrowable,
            c.storage_date AS storageDate,
            cat.id AS catalogId,
            cat.name,
            cat.isbn,
            cat.publisher,
            CONCAT(cat.category, '-', clc.name) AS category,
            cat.publish_date AS publishDate,
            cat.author,
            cat.value
        FROM collection c
                 INNER JOIN catalog cat ON c.catalog_id = cat.id
                 LEFT JOIN clc ON cat.category = clc.code
        WHERE c.id = #{id}
    </select>

    <select id="selectRandomBorrowable"
            parameterType="int"
            resultType="org.take2.librarymanager.service.impl.CollectionServiceImpl$CollectionVO">
        SELECT
            c.id,
            c.barcode,
            c.is_borrowable AS isBorrowable,
            c.storage_date AS storageDate,
            cat.id AS catalogId,
            cat.name,
            cat.isbn,
            cat.publisher,
            CONCAT(cat.category, '-', clc.name) AS category,
            cat.publish_date AS publishDate,
            cat.author,
            cat.value
        FROM collection c
                 INNER JOIN catalog cat ON c.catalog_id = cat.id
                 LEFT JOIN clc ON cat.category = clc.code
        WHERE c.is_borrowable = true
        ORDER BY RAND()
            LIMIT #{count}
    </select>

</mapper>